.z-index{
    z-index: 10;
}
.carousel-item{
    max-height: 500px;
    object-fit: cover;
}
.pt{
    padding-top: 60px;
}
.card-size{
    min-height: 250px;
    
}
.card__button-container {
   position: absolute;
   bottom: 1rem;
   left: 0;
   right: 0;
 }