.z-index{
    z-index: 10;
}
.carousel-item{
    max-height: 500px;
    object-fit: cover;
}
.pt{
    padding-top: 80px;
}
.card-size{
    min-height: 250px;
    
}
.card__button-container {
   position: absolute;
   bottom: 16px;
   left: 0;
   right: 0;
 }
 body{
    font-family: 'Roboto Condensed', sans-serif;
 }
 h2{
    font-family: 'Bebas Neue', cursive;
 }